<section class="container" id="information">

    <div class="content">
        <h1>INFORMÁCIÓK</h1>
        <div>
            <h2>FONTOS DOLGOK</h2>
            <p>
                Idén ősszel ismét <strong>Berettyóújfalu</strong> ad otthont a
                Testvéri Szövetség minden évben megrendezett
                <strong>Ifjúsági Csendesnap(ok)</strong> programjának.
            </p>

            <p>
                Az <strong>október 24-25-i hétvégére</strong> várunk minden
                <strong>14-30 év közötti fiatalt</strong>, aki szeretne egy jó közösségben tölteni pár napot:
                lesz <strong>igei tanítás</strong>, <strong>beszélgetések</strong>,
                <strong>sport</strong> és még sok közös program. (Részletekért görgess tovább)
            </p>

            <p>
                <strong>Részvételi díj:</strong><br>
                - <strong>2000 Ft/nap</strong> (ha <u>Szeptember 15. ÉJFÉLIG</u> jelentkezel)<br>
                - <strong>2500 Ft/nap</strong> (Szeptember 15. után)<br>
                - <strong>3000 Ft/nap</strong> (az utolsó héten leadott jelentkezésnél)<br>
                <em>A díj tartalmazza az ebédet is! 🍔</em>
            </p>

            <p>
                <strong>Fontos: </strong>Sajnos külön étkezést (pl. laktózérzékenyeknek) nem tudunk biztosítani. 🙁
            </p>

            <p>
                <strong>Pontos Helyszín: </strong>Berettyóújfalu, Bajcsy-Zsilinszky Endre utca 27, 4100
            </p>
        </div>
        <div class="meghivo">
            <h2>A MEGHÍVÓ</h2>
            <img src="meghivo.jpg" alt="">
        </div>
        <div>
            <h2>A HÉT TÉMÁJA</h2>
            <p>
                <strong>VEZÉRIGE:</strong> <em> János 12:26</em><br>
                "Aki nekem szolgál, kövessen engem, és ahol én vagyok, ott lesz az én szolgám is.
                Aki nekem szolgál, azt az Atya megbecsüli."
            </p>
            <p>
                <strong>TÉMA: Szeress és szolgálj</strong>
            </p>

            <p>
                A <strong>szolgálat és a szolgálatkészség</strong> nem csupán egy-egy feladat elvégzését jelenti,
                hanem olyan hozzáállást, amely az élet minden területére kihat.
                Erről lesz szó a közelgő csendes napokon is, ahol együtt gondolkodunk majd arról,
                hogyan válhat mindez mindennapjaink részévé.
            </p>

            <p>
                Fontos, hogy ne kényszerből vagy kötelességként tekintsünk rá, hanem belülről fakadó,
                természetes életformaként legyen jelen az életünkben.
            </p>

            <p>
                A valódi szolgálat a szeretetből születik, és akkor válik hitelessé,
                ha örömmel és önként vállaljuk.
            </p>
        </div>
    </div>
</section>