/* Please ❤ this if you like it! */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.nav {
  display: flex;
  justify-content: center; /* vízszintesen középre */
  align-items: center;     /* függőlegesen középre */
  height: 100vh;           /* az egész viewport magasságát használja */
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
}

.nav ul {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.nav ul li {
  margin: 10px 0;
}
.nav ul li a {
  font-size: 9dvh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: none !important;
  color: rgb(187, 209, 90);
}
.nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 2dvh;
  margin-top: -1dvh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after {
  width: 100%;
}


@media screen and (max-width: 991px) {
  .nav ul li a {
    font-size: 6dvh;
  }
  .nav ul li {
    margin: 20px 0;
  }
}
@media screen and (max-width: 440px) {
  .nav ul li a {
    font-size: 4dvh;
  }
  .nav ul li {
    margin: 30px 0;
  }
}
