<section class="container" id="programs">
  <h1 style="text-align: center; color:#0a2239; font-size:40px;font-weight: 800;">PROGRAMOK</h1>
  <main>
    <h1 style="text-align: center; color:#0a2239">Péntek</h1>
    <div class="timeline">
      <div
        class="timeline__event timeline__event--type1"
      >
        <div class="timeline__event__icon">
          <i class="lni lni-aeroplane-1"></i>
          <div class="timeline__event__date">7:45</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Érkezés</div>
          <div class="timeline__event__description">
            <p></p>
          </div>
        </div>
      </div>
      <div
        class="timeline__event timeline__event--type1"
      >
        <div class="timeline__event__icon">
          <i class="lni lni-pen-to-square"></i>
          <div class="timeline__event__date">8:00 - 9:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Regisztráció</div>
          <div class="timeline__event__description">
            <p></p>
          </div>
        </div>
      </div>
      <div
        class="timeline__event timeline__event--type3"
      >
        <div class="timeline__event__icon">
          <i class="handshake"></i>
          <div class="timeline__event__date">9:00 - 9:50</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Köszöntés</div>
          <div class="timeline__event__description">
            <p class="semibold">Éneklés</p>
            <p class="semibold">Imaóra</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type2">
        <div class="timeline__event__icon">
          <i class="lni lni-play"></i>
          <div class="timeline__event__date">9:50 - 10:30</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Közös játék</div>
          <div class="timeline__event__description">
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type3">
        <div class="timeline__event__icon">
          <i class="speech"></i>
          <div class="timeline__event__date">10:30 - 11:50</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Előadás</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Előadó: </span>Bakai László</p>
            <p class="semibold">Éneklés</p>
            <p class="semibold">Bizonyságtételek</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type4">
        <div class="timeline__event__icon">
          <i class="icon-burger-drink"></i>
          <div class="timeline__event__date">11:50 - 13:30</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Ebédszünet</div>
          <div class="timeline__event__description">
            <p>Kötetlen rész</p>
            <p>Lehet társasozni, beszélgetni</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type2">
        <div class="timeline__event__icon">
          <i class="icon-soccer-ball"></i>
          <div class="timeline__event__date">13:30 - 17:50</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Fakultatív programok</div>
          <div class="timeline__event__description">
            <p class="bold">Sportolás:</p>
            <p><span class="semibold">Lehetőségek: </span>Röplabda, Foci</p>
            <p class="bold">Szemináriumok</p>
            <p><span class="semibold">Lehetőségek: </span>Lentebb</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type5">
        <div class="timeline__event__icon">
          <i class="icon-open-book-2"></i>
          <div class="timeline__event__date">14:30 - 15:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Szeminárium</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Előadók: </span>Kocsisné V. Zita és Kocsis László</p>
            <p><span class="semibold">Cím: </span>Mihez kell a társ?</p>
            <p><span class="semibold">Téma: </span>Ismerkedés, párkapcsolat, barátság</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type5">
        <div class="timeline__event__icon">
          <i class="icon-open-book-2"></i>
          <div class="timeline__event__date">15:45 - 17:15</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Szeminárium</div>
          <div class="timeline__event__description">
            <p><span class="bold">1. </span><span class="semibold">Előadó: </span>Elek Sándor</p>
            <p><span class="semibold">Cím: </span>Elfogadni a körülményeimet, anyagi helyzetemet, magamat</p>
            <p><span class="bold">2. </span><span class="semibold">Előadó: </span>Kocsisné V. Zita (lányoknak)</p>
            <p><span class="semibold">Cím: </span>Mihez kell a társ?</p>
            <p><span class="bold">2. </span><span class="semibold">Előadó: </span>Kocsis László (fiúknak)</p>
            <p><span class="semibold">Cím: </span>Mihez kell a társ?</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type3">
        <div class="timeline__event__icon">
          <i class="speech"></i>
          <div class="timeline__event__date">17:50 - 19:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Evangélizáció</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Előadó: </span>Egeresi Lóránd</p>
            <p class="semibold">Éneklés</p>
            <p class="semibold">Bizonyságtételek</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type1">
        <div class="timeline__event__icon">
          <i class="double-bed"></i>
          <div class="timeline__event__date">19:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Szálláshelyek elfoglalása</div>
          <div class="timeline__event__description">
            <p>Tömegszálláson lévőknek közös vacsora</p>
          </div>
        </div>
      </div>
    </div>
    <h1 style="text-align: center; color:#0a2239">Szombat</h1>

    <div class="timeline">
      <div
        class="timeline__event timeline__event--type1"
      >
        <div class="timeline__event__icon">
          <i class="lni lni-pen-to-square"></i>
          <div class="timeline__event__date">8:00 - 9:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Regisztráció</div>
          <div class="timeline__event__description">
            <p></p>
          </div>
        </div>
      </div>
      <div
        class="timeline__event timeline__event--type3"
      >
        <div class="timeline__event__icon">
          <i class="icon-open-book"></i>
          <div class="timeline__event__date">9:00 - 9:40</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Előadás</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Előadó: </span>Kátoli Gábor</p>
            <p><span class="semibold">Téma: </span>Elhívásom és szolgálatom</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type3">
        <div class="timeline__event__icon">
          <i class="podium-talk"></i>
          <div class="timeline__event__date">9:50 - 11:30</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Pódium beszélgetés</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Levezető: </span>Kocsis László</p>
            <p><span class="semibold">Résztvevők: </span>Tomka Joel, Szilágyi Tamás, Molnár István</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type4">
        <div class="timeline__event__icon">
          <i class="icon-burger-drink"></i>
          <div class="timeline__event__date">11:30 - 12:45</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Ebédszünet</div>
          <div class="timeline__event__description">
            <p>Kötetlen rész</p>
            <p>Lehet társasozni, beszélgetni</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type2">
        <div class="timeline__event__icon">
          <i class="icon-soccer-ball"></i>
          <div class="timeline__event__date">12:45 - 15:50</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Fakultatív programok</div>
          <div class="timeline__event__description">
            <p class="bold">Sportolás:</p>
            <p><span class="semibold">Lehetőségek: </span>Röplabda, Foci</p>
            <p class="bold">Szemináriumok</p>
            <p><span class="semibold">Lehetőségek: </span>Lentebb</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type5">
        <div class="timeline__event__icon">
          <i class="icon-open-book-2"></i>
          <div class="timeline__event__date">12:45 - 14:15</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Szeminárium</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Előadó: </span>Tomka János</p>
            <p><span class="semibold">Cím: </span>Hosszú távú befektetés megtérülése</p>
            <p><span class="semibold">Téma: </span>A reménység ellenére reménykedve hitte…</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type5">
        <div class="timeline__event__icon">
          <i class="icon-open-book-2"></i>
          <div class="timeline__event__date">14:20 - 15:50</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Szeminárium</div>
          <div class="timeline__event__description">
            <p><span class="bold">1. </span><span class="semibold">Előadó: </span>Schneider Károly</p>
            <p><span class="semibold">Cím: </span>A felelősségvállalásban való növekedés</p>
            <p><span class="semibold">Téma: </span>Kicsin voltál hű…</p>
            <p><span class="bold">2. </span><span class="semibold">Előadó: </span>Máté András</p>
            <p><span class="semibold">Cím: </span>Alávetett, mégsem alárendelt szerepkörben</p>
            <p><span class="semibold">Téma: </span>Az engedelmesség méltósága</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type3">
        <div class="timeline__event__icon">
          <i class="speech"></i>
          <div class="timeline__event__date">15:55 - 16:55</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Evangélizáció</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Előadó: </span>Török Sándor</p>
            <p class="semibold">Éneklés</p>
            <p class="semibold">Bizonyságtételek</p>
          </div>
        </div>
      </div>
      <div class="timeline__event timeline__event--type1">
        <div class="timeline__event__icon">
          <i class="handshake-2"></i>
          <div class="timeline__event__date">16:55</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Záró gondolatok</div>
          <div class="timeline__event__description">
            <p><span class="semibold">Beszélő: </span>Gál Lajos</p>
            <p class="semibold">Szendvics készítés</p>
            <p class="semibold">Hazamenetel</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</section>
