<section class="container" id="programs">
  <h1 style="text-align: center; color:black">PROGRAMOK</h1>
  <h2 style="text-align: center; color:black">HAMAROSAN</h2>
  <!-- <main>
    <div class="timeline">
      <div
        appScrollAnimate="fadeInUp"
        class="timeline__event animated timeline__event--type1"
      >
        <div class="timeline__event__icon">
          <i class="lni lni-aeroplane-1"></i>
          <div class="timeline__event__date">7:45</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Érkezés</div>
          <div class="timeline__event__description">
            <p></p>
          </div>
        </div>
      </div>
      <div
        appScrollAnimate="fadeInUp"
        class="timeline__event animated timeline__event--type1"
      >
        <div class="timeline__event__icon">
          <i class="lni lni-pen-to-square"></i>
          <div class="timeline__event__date">8:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Regisztráció</div>
          <div class="timeline__event__description">
            <p></p>
          </div>
        </div>
      </div>
      <div
        appScrollAnimate="fadeInUp"
        class="timeline__event animated timeline__event--type3"
      >
        <div class="timeline__event__icon">
          <i class="lni lni-music"></i>
          <div class="timeline__event__date">9:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Köszöntés</div>
          <div class="timeline__event__description">
          </div>
        </div>
      </div>
      <div appScrollAnimate="fadeInUp" class="timeline__event animated timeline__event--type2">
        <div class="timeline__event__icon">
          <i class="lni lni-play"></i>
          <div class="timeline__event__date">9:50</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Közös játék</div>
          <div class="timeline__event__description">
          </div>
        </div>
      </div>
      <div appScrollAnimate="fadeInUp" class="timeline__event animated timeline__event--type3">
        <div class="timeline__event__icon">
          <i class="icon-open-book"></i>
          <div class="timeline__event__date">10:40</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Előadás</div>
          <div class="timeline__event__description">
            <p>Megérkezésaaaaaa aaaaaaaaaaaaa</p>
          </div>
        </div>
      </div>
      <div appScrollAnimate="fadeInUp" class="timeline__event animated timeline__event--type1">
        <div class="timeline__event__icon">
          <i class="icon-burger-drink"></i>
          <div class="timeline__event__date">13:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Ebéd</div>
          <div class="timeline__event__description">
          </div>
        </div>
      </div>
      <div appScrollAnimate="fadeInUp" class="timeline__event animated timeline__event--type2">
        <div class="timeline__event__icon">
          <i class="icon-soccer-ball"></i>
          <div class="timeline__event__date">13:30</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Sportolás</div>
          <div class="timeline__event__description">
          </div>
        </div>
      </div>
      <div appScrollAnimate="fadeInUp" class="timeline__event animated timeline__event--type3">
        <div class="timeline__event__icon">
          <i class="icon-open-book"></i>
          <div class="timeline__event__date">18:00</div>
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">Evangélizáció</div>
          <div class="timeline__event__description">
            <p>
              
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="color: black; text-align: center">
      Szombat
      <h1>HAMAROSAN</h1>
    </div>
  </main>
  <footer></footer> -->
</section>
