<div class="container">
    <h1 style="text-align: center">Ifjúsági Csendesnapok Visszajelzés</h1>
    
    <form
    class="example-form"
    style="border: 1px solid gray"
    [formGroup]="feedbackForm"
    (ngSubmit)="onSubmit()"
    >
    <div class="grid1x1" *ngFor="let q of questions; let i = index">
        <div style="display: flex;flex-direction: column; ">
            <label for="{{'q'+i}}">{{q.question}}</label>
            <mat-radio-group
            id="{{'q'+i}}"
            formControlName="{{'q'+i}}"
            aria-labelledbyx="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="q.value">
            @for (a of q.answers; track a; let answerIdx = $index) {
                <mat-radio-button class="example-radio-button" [value]="answerIdx">{{a.value}}</mat-radio-button>
            }
            </mat-radio-group>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>{{ q.value !== undefined ? q.answers[q.value].tellUsWhy : 'Megjegyzés (opcionális)'}}</mat-label>
                <textarea matInput placeholder="{{q.answers[q.value ?? 0].placeholder}}"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin: 30px 0">
      <button type="submit" [disabled]="feedbackForm.invalid || loading" mat-stroked-button (click)="loading = true">
        <ng-container *ngIf="!loading; else spinnerTpl">
           Leadás
        </ng-container>
        <ng-template #spinnerTpl>
          <mat-spinner diameter="20"></mat-spinner>
        </ng-template>
      </button>
    </div>
  </form>
</div>