<div class="container">
    <h1 style="text-align: center">Ifjúsági Csendesnapok Visszajelzés</h1>
    
    <form
    class="example-form"
    style="border: 1px solid gray"
    [formGroup]="feedbackForm"
    (ngSubmit)="onSubmit()"
    >
    <div class="grid1x1" *ngFor="let q of questions; let i = index">
        <div style="display: flex;flex-direction: column; align-items: center;">
            <label for="{{'q'+i}}">{{q.question}}</label>
            <mat-slider [min]="0" [max]="q.answers.length-1" [step]="1" [showTickMarks]="true">
              <input matSliderThumb formControlName="{{'q'+i}}" [(ngModel)]="q.value ">
            </mat-slider>
            <ng-container *ngIf="q.answers[q.value] as currentAnswer">
                <div>{{ currentAnswer.value }}</div>
            </ng-container>
        </div>
        <div *ngIf="q.answers[q.value] as currentAnswer">
            <mat-form-field class="example-full-width">
                <mat-label>{{currentAnswer.tellUsWhy}}</mat-label>
                <textarea matInput placeholder="{{currentAnswer.placeholder}}"></textarea>
            </mat-form-field>
        </div>
    </div>
  </form>
</div>