<div class="container">
    <h1 style="text-align: center">Ifjúsági Csendesnapok Visszajelzés</h1>
    
    <form
    class="example-form"
    style="border: 1px solid gray"
    [formGroup]="feedbackForm"
    (ngSubmit)="onSubmit()"
    >
    <div class="grid1x1">
        <div style="display: flex;flex-direction: column; align-items: center;">
            <label for="q1">Hogy érezted magad a hétvége alatt?</label>
            <mat-slider [min]="1" [max]="5" [step]="1" [showTickMarks]="true">
              <input matSliderThumb formControlName="q1" [(ngModel)]="q1!.value">
            </mat-slider>
            <div>{{ q1Labels[q1!.value] }}</div>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Megosztod velünk, hogy miért? <span *ngIf="q1!.value < 3">😢</span> <span *ngIf="q1!.value === 3">🤔</span><span *ngIf="q1!.value > 3">😊</span></mat-label>
                <textarea *ngIf="q1!.value < 4" matInput placeholder="Pl. Nem tetszett a (Szervezés/tanítás/emberek)"></textarea>
                <textarea *ngIf="q1!.value >= 4" matInput placeholder="Pl. Jó volt a (Szervezés/tanítás/emberek)"></textarea>
            </mat-form-field>
        </div>
    </div>
  </form>
</div>