<section id="form" class="section" style="background-color: rgb(231, 235, 217)">
  <h1 style="text-align: center">Ifjúsági Csendesnap Regisztráció</h1>
  
  <form
    class="example-form"
    style="border: 1px solid gray"
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="grid1x2">
      <div>
        <label for="name">Név</label>
        <mat-form-field appearance="outline" class="example-full-width">
          <input
            matInput
            id="name"
            formControlName="name"
            placeholder="Kis János"
          />
        </mat-form-field>
      </div>
      <div>
        <label for="email">Email</label>
        <mat-form-field appearance="outline" class="example-full-width">
          <input
            matInput
            id="email"
            formControlName="email"
            placeholder="kis.janos@gmail.com"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="grid1x2">
      <div>
        <label for="gender">Nem</label>
        <mat-radio-group
          id="gender"
          formControlName="gender"
          class="radio-group"
        >
          <mat-radio-button value="boy">Fiú</mat-radio-button>
          <mat-radio-button value="girl">Lány</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label id="hotel-label">Kérsz szállást?</label>
        <mat-radio-group
          class="radio-group"
          aria-labelledby="hotel-label"
          formControlName="hotel"
        >
          <mat-radio-button value="need"
            >Igen (nincs egyeztetve)</mat-radio-button
          >
          <mat-radio-button value="has-already"
            >Igen (van már egyeztetve)</mat-radio-button
          >
          <mat-radio-button value="no">Nem</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="grid1x2">
      <div>
        <label id="vehicle">Sofőr vagy? (és autóval jössz)</label>
        <mat-radio-group
          formControlName="vehicle"
          aria-labelledby="vehicle"
          class="radio-group"
        >
          <mat-radio-button value="yes">Igen</mat-radio-button>
          <mat-radio-button value="no">Nem</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="myForm.get('hotel')?.value === 'need'">
        <label id="hotel-pref-label">Hol aludnál szívesebben?</label>
        <mat-radio-group
          formControlName="mass"
          aria-labelledby="hotel-pref-label"
          class="radio-group"
        >
          <mat-radio-button value="mass">Tömegszálláson</mat-radio-button>
          <mat-radio-button value="house">Háznál</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="grid1x2">
      <div>
        <label id="organizer">Szervező vagy?</label>
        <mat-radio-group
          formControlName="organizer"
          aria-labelledby="organizer"
          class="radio-group"
        >
          <mat-radio-button value="yes">Igen</mat-radio-button>
          <mat-radio-button value="no">Nem</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label>Melyik napokra jössz?</label>
        <div style="margin: 15px 0">
          <div>
            <mat-checkbox formControlName="friday">Péntek</mat-checkbox>
          </div>
          <mat-checkbox formControlName="saturday">Szombat</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="grid1x2">
      <div>
        <label>Melyik szemináriumokon szeretnél részt venni? (opcionális)</label>
        <div style="margin: 15px 0">
          <mat-checkbox formControlName="sem1" class="seminar-checkbox"><span style="font-weight: 500">Mihez kell a társ? </span>Kocsis László és Kocsisné V. Zita (fiúknak és lányoknak)</mat-checkbox>
          <mat-divider></mat-divider>
          <mat-checkbox formControlName="sem2" class="seminar-checkbox"><span style="font-weight: 500">Mihez kell a társ? </span>Kocsis László (fiúknak)</mat-checkbox>
          <mat-checkbox formControlName="sem3" class="seminar-checkbox"><span style="font-weight: 500">Mihez kell a társ? </span>Kocsisné V. Zita (lányoknak)</mat-checkbox>
          <mat-checkbox formControlName="sem4" class="seminar-checkbox"><span style="font-weight: 500">Elfogadni a körülményeimet, anyagi helyzetemet, magamat </span>Elek Sándor</mat-checkbox>
          <mat-divider></mat-divider>
          <mat-checkbox formControlName="sem5" class="seminar-checkbox"><span style="font-weight: 500">Hosszú távú befektetés megtérülése </span>Tomka János</mat-checkbox>
          <mat-divider></mat-divider>
          <mat-checkbox formControlName="sem6" class="seminar-checkbox"><span style="font-weight: 500">A felelősségvállalásban való növekedés </span>Schneider Károly</mat-checkbox>
          <mat-checkbox formControlName="sem7" class="seminar-checkbox"><span style="font-weight: 500">Alávetett, mégsem alárendelt szerepkörben </span>Máté András</mat-checkbox>
        </div>
      </div>
      <div>
        <label id="birthday" style="margin-bottom: 10px">Születési Dátum</label>
        <mat-form-field class="datePicker">
          <input formControlName="date" matInput [matDatepicker]="picker" (blur)="updateErrorMessage()" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
            @if (myForm.get('date')?.invalid) {
              <mat-error>{{dateError()}}</mat-error>
            }
        </mat-form-field>
      </div>
    </div>
    <div class="grid1x2" >
      <div>
        <label id="shirt">Szeretnél Pólót rendelni?</label>
        <mat-radio-group
          formControlName="shirt"
          aria-labelledby="shirt"
          class="radio-group"
        >
          <mat-radio-button value="yes">Igen</mat-radio-button>
          <mat-radio-button value="no">Nem</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style="display: flex; gap: 1rem">
        <div>
          <p style="text-align: center; font-weight: bold; margin:0">Kék Póló</p>
          <img src="blueshirt.jpg" style="width: 100px; cursor: pointer;" alt="" (click)="openDialog('blueshirt.jpg', 'Kék Póló')">
        </div>
        <div>
          <p style="text-align: center; font-weight: bold; margin:0">Fehér Póló</p>
          <img src="whiteshirt.jpg" style="width: 100px; cursor: pointer;" alt="" (click)="openDialog('whiteshirt.jpg', 'Fehér Póló')">
        </div>

      </div>
    </div>
    <div class="grid1x2" *ngIf="myForm.get('shirt')?.value === 'yes'" style="grid-template-columns: 1fr; overflow-x: auto;">
      <table>
        <tr>
          <th>Módosítás</th>
          <th>Méret</th>
          <th>Szín</th>
          <th>Galléros</th>
          <th>Szabás</th>
          <th>Ár</th>
        </tr>
        @for (shirt of shirts; track shirt.idx){
          <tr>
            <td><button mat-button type="button"  style="font-size: larger" (click)="removeShirt(shirt.idx)">
              <mat-icon style="margin:0" fontIcon="delete"></mat-icon>
            </button></td>
            <td>
              <mat-button-toggle-group [name]="'size'+ shirt.idx" [formControlName]="'size'+ shirt.idx" [(ngModel)]="shirt.size">
                <mat-button-toggle value="S">S</mat-button-toggle>
                <mat-button-toggle value="M">M</mat-button-toggle>
                <mat-button-toggle value="L">L</mat-button-toggle>
                <mat-button-toggle value="XL">XL</mat-button-toggle>
                <mat-button-toggle value="XXL">XXL</mat-button-toggle>
              </mat-button-toggle-group>
            </td>
            <td>
                <mat-button-toggle-group [name]="'color'+ shirt.idx"  [formControlName]="'color'+ shirt.idx" [(ngModel)]="shirt.color">
                  <mat-button-toggle value="blue">KÉK</mat-button-toggle>
                  <mat-button-toggle value="white">FEHÉR</mat-button-toggle>
              </mat-button-toggle-group>
            </td>
             <td>
                <mat-button-toggle-group [name]="'galler'+ shirt.idx"  [formControlName]="'galler'+ shirt.idx" [(ngModel)]="shirt.galler">
                  <mat-button-toggle value="yes">IGEN</mat-button-toggle>
                  <mat-button-toggle value="no">NEM</mat-button-toggle>
              </mat-button-toggle-group>
            </td>
            <td>
                <mat-button-toggle-group [name]="'gender'+ shirt.idx"  [formControlName]="'gender'+ shirt.idx" [(ngModel)]="shirt.gender">
                  <mat-button-toggle value="men">Férfi</mat-button-toggle>
                  <mat-button-toggle value="women">Női</mat-button-toggle>
              </mat-button-toggle-group>
            </td>
            <td *ngIf="shirt.galler === 'yes'">{{gallerPrice}} Ft</td>
            <td *ngIf="shirt.galler === 'no'">{{shirtPrice}} Ft</td>
            <td *ngIf="shirt.galler === ''"> {{shirtPrice}} Ft</td>
          </tr>
        }
        <tr>
          <td><button mat-button type="button" style="font-size: larger" (click)="addShirt()">+</button></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="grid1x2" style="margin-top: 50px; margin-bottom: 50px">
      <img src="stripe-logo.png" class="stripe-logo" alt="stripe-logo" />
      <div style="font-size: 100%; display: flex; align-items: center">
        <div>
          Fizetendő összeg: <span class="highlight">{{ price }} Ft</span>
          <p style="margin: 0">(A fizetés csak online lehetséges)</p>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; margin: 30px 0">
      <button type="submit" [disabled]="myForm.invalid || loading" mat-stroked-button (click)="loading = true">
        <ng-container *ngIf="!loading; else spinnerTpl">
          Jelentkezés Leadása
        </ng-container>
        <ng-template #spinnerTpl>
          <mat-spinner diameter="20"></mat-spinner>
        </ng-template>
      </button>
    </div>
  </form>
</section>

<!-- <section id="section2" class="section" style="background-color: rgb(160, 160, 160);">
  <h1>Section 2</h1>
  <p>Tartalom...</p>
</section>


<section id="section3" class="section" style="background-color: rgb(61, 35, 35);">
  <h1>Section 3</h1>
  <p>Tartalom...</p>
</section>

<section id="section4" class="section">
  <h1>Section 4</h1>
  <p>Tartalom...</p>
</section> -->
