.section {
  min-height: 100vh; /* legalább egy képernyőnyi */
  padding: 50px;
  color: black;
}

.grid1x2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* két egyenlő szélességű oszlop */
  grid-template-rows: 1fr; /* egy sor */
  gap: 40px;
  margin: 20px;
}

.example-full-width {
  width: 100%;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.example-form {
  max-width: 70%;
  margin: 0 auto;
  padding: 10px;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
.stripe-logo{
  width:80%;
  min-width:220px;
  height: auto;
}
.highlight {
  font-weight: bold;
}
label {
  display:block
}
tr{
  border-bottom: 1px solid black;
}
td{
  text-align: center;
}
th{
  border-bottom: 1px solid black
}
td, th {
  padding: 8px;
  border: 1px solid gray
}
// tr:nth-child(even){background-color: #f2f2f2;}
@media screen and (max-width: 950px) {
  .grid1x2 {
    display: grid;
    grid-template-columns: 1fr; /* két egyenlő szélességű oszlop */
    grid-template-rows: 1fr; /* egy sor */
    gap: 40px;
    margin: 20px;
  }
  .example-form {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .stripe-logo{
    width:70%
  }
}

@media screen and (max-width: 500px) {
  .datePicker{
    width: 200px
  }
  .stripe-logo{
    width:200px
  }
}

table{
}