@use 'styles/spring-green-theme';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #ececee;
  background-color: #353746;
  height: 100vh;
  width: 100%;
}
:root {
    --color-light-blue: #8486a9;
    --color-red: rgb(187, 209, 90);
    --color-white: rgb(255, 255, 255);
    --color-dark-blue: #252641;
    --color-very-dark-blue: #2a2e55;
    --color-black: #191a24;
}